
/*Google Fons       recomendable realizar la importacion del mismo archivo .css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/*bootstrap Iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



/*Para resetear*/
*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    /*
    outline: 1px solid red;
    */

    -webkit-box-sizing: border-box;

}



html,
body{

    font-family: "Montserrat", sans-serif;
    background-color: var(--colorFondoBody);

    /*desplazamieento suave cuando se usa navevacion por ancla*/
    scroll-behavior: smooth;

}


/*Estilos generales*/
:root{
    --colorFondoBody: #FFFFFF ;
    --colorEstilo1:#0E0A1F;
    --colorEstilo2:#B8FFE2;
    --colorEstilo3: #98FBFF;;
    --colorEstilo4:#F3F3F3;
    --colorEstilo5:#F6B3B8;

    --colorTexto1: #000000;
    --colorTexto2: #fff;
}


/*Estilos genraels*/
h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    
    color: var(--colorTexto2);
}



h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1rem;
}

h4{
    font-size: 1.7rem;
}


a{
    text-decoration: none;
    color: var(--colorTexto2);
}

a:hover{
    text-decoration: underline;    
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 10px 0;
}



/*contenedor*/
div.contenedor{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;


    overflow: auto;
}

/*mostrar pantalla compleata*/
header.contenedor__header{
    height: 100vh;
    background-color: var(--colorEstilo1);
    
    padding-top: 20px;
}


/*contenedor__superior*/
div.contenedor__superior{
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;    
}

div.superior__logo{
    float: left;
}

div.superior__menu{
    float: right;
}

ul.menu__opciones{
    list-style: none;    
}

ul.menu__opciones li{
    float: left;
}

ul.menu__opciones li a{
    display: block; /*****************************************/
    padding: 20px;

    font-weight: 400;    
}


/*banner*/
section.contenedor__banner{
    padding: 90px 0;


}


h2.titulo__banner{
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: 200;
    text-align: center;
    
    color: var(--colorTexto2);
}


div.banner__card1{
    width: 55%;
    margin: auto;
    margin-top: 50px;  


    max-width: 700px;   /*********************/
}


div.banner__card2{
    width: 55%;
    margin: auto;
    margin-top: 50px;  


    max-width: 700px;   /*********************/
}



h3{
    font-size: 0.9rem;
    text-align: left;
    color: var(--colorTexto1);
    font-weight: 500;
    padding-top: 30px;
    padding-left: 30px;

}




div.card__fitness{
    float: left;
    width: 45%;        
    background-color: var(--colorEstilo2);
    text-align: center;

    border-radius: 20px;

    margin: 0 0  20px 0;    /********************/

}

div.card__swimming{
    float: right;
    width: 45%;
    background-color: var(--colorEstilo3);
    text-align: center;

    border-radius: 20px;

    margin: 0 0  20px 0;    /********************/
}



/**/

div.card__fitness img{
    width: 80px;
    max-width: 100%;  

    padding: 25px 0;


}

div.card__swimming img{
    width: 80px;
    max-width: 100%;   
    padding: 25px 0; 
}



/**/

div.card__spa{
    float: left;
    width: 45%;
    background-color: var(--colorEstilo4);
    text-align: center;

    border-radius: 20px;


    margin: 0 0  20px 0;    /********************/
}

div.card__golf{
    float: right;
    width: 45%;
    background-color: var(--colorEstilo5);
    text-align: center;

    border-radius: 20px;



    margin: 0 0  20px 0;    /********************/
}



div.card__spa img{
    width: 80px;
    max-width: 100%;  

    padding: 25px 0;

}

div.card__golf img{
    width: 80px;
    max-width: 100%;   
    
    padding: 25px 0;
}


/*contenedor__fitness*/
section.contenedor__fitness,
section.contenedor__Swimming,
section.contenedor__Spa,
section.contenedor__Golf
{
    padding: 120px 0 90px 0;
}


section.contenedor__fitness{
    background-color: var(--colorEstilo2);
}

section.contenedor__Swimming{
    background-color: var(--colorEstilo3);
}

section.contenedor__Spa{
    background-color: var(--colorEstilo4);
}


section.contenedor__Golf{
    background-color: var(--colorEstilo5);
}







div.titulo h4{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}


div.grupo img{
    width: 350px;
    max-width: 100%;        
}


/***************/
section.contenedor__fitness div.grupo div.lado1
{
    float: left;
    width: 40%;
    text-align: center;
}


section.contenedor__fitness div.grupo div.lado2{
    float: left;
    width: 60%;
    text-align: left;   
    padding-left: 15px; 
    padding-right: 15px;

}

/**/
section.contenedor__Swimming div.grupo div.lado1
{
    float: left;
    width: 60%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px; 
}


section.contenedor__Swimming div.grupo div.lado2
{
    float: left;
    width: 40%;
    text-align: center;
}


/**/

section.contenedor__Spa div.grupo div.lado1
{
    float: left;
    width: 40%;
    text-align: center;
}


section.contenedor__Spa div.grupo div.lado2{
    float: left;
    width: 60%;
    text-align: left;    
    padding-left: 15px; 
    padding-right: 15px;
}




/**/
section.contenedor__Golf div.grupo div.lado1
{
    float: left;
    width: 60%;
    text-align: left;
    padding-left: 15px; 
    padding-right: 15px;
}


section.contenedor__Golf div.grupo div.lado2
{
    float: left;
    width: 40%;
    text-align: center;
}



/*contenedor__footer*/
footer.contenedor__footer{
    padding: 40px 0 40px 0;
    background-color: var(--colorEstilo1);
}

div.pie__titulo{
    text-align: center;    
}

div.pie__titulo p{
    font-size: 0.8rem;
    color: var(--colorTexto2);
    font-weight: 300;
}

div.pie__titulo p span{
    font-weight: 500;
}


/*responsive 1*/
@media only screen and  (max-width: 575.98px) and
                        (max-width: 767.98px) and
                        (max-width: 991.98px) and
                        (max-width: 1199.98px) and
                        (max-width: 1399.98px)
    {


        div.superior__logo{            
            float: none;
            text-align: center;
        }

        div.superior__menu{
            float: none;
            text-align: center;
            padding: 0;
        }


        ul.menu__opciones li{
            float: none;
        }

        ul.menu__opciones li a{
            padding: 10px;
            font-size: 0.9rem;
        }


        header.contenedor__header{
            height: 100%;   /********************************** ojo ahi */
        }


        h2.titulo__banner{
            font-size: 3rem;
        }


        div.banner__card1{
            float: none;
            width: 100%;

       
        }

        div.banner__card2{
            float: none;
            width: 100%;
        }


        div.card__fitness,
        div.card__swimming,
        div.card__spa,
        div.card__golf        
        {
            float: none;
            width: 40%;
            margin: auto;

            margin-bottom: 30px; /***************************/
        }


        div.card__fitness h3,
        div.card__swimming h3,
        div.card__spa h3,
        div.card__golf h3  
        {
            text-align: center;
            padding: 10px 0;
        }



        /**/
        section.contenedor__fitness,
        section.contenedor__Swimming,
        section.contenedor__Spa,
        section.contenedor__Golf        
        {
            padding: 50px 0 40px 0;
            padding: 50px 0 40px 0;
        }



        /*contenedor__fitness*/
        section.contenedor__fitness div.grupo div.lado1{
            float: none;
            width: 40%;         /*************************************** puede ser auto*/
            margin: auto;
            margin-bottom: 20px;
        }

         section.contenedor__fitness div.grupo div.lado2{
            float: none;
            width: 100%;      
       
        }

        section.contenedor__fitness div.grupo div.lado2 p{
            font-size: 0.9rem;
            text-align: justify;
        }



        /*contenedor__Swimming*/
        section.contenedor__Swimming div.grupo div.lado2{
            float: none;
            width: 40%;        
            margin: auto;
            margin-bottom: 20px;
        }

         section.contenedor__Swimming div.grupo div.lado1{
            float: none;
            width: 100%;              
        }


        section.contenedor__Swimming div.grupo div.lado1 p{
            font-size: 0.9rem;
            text-align: justify;
        }



        
        /*contenedor__Spa*/
        section.contenedor__Spa div.grupo div.lado1{
            float: none;
            width: 40%;        
            margin: auto;
            margin-bottom: 20px;
        }

         section.contenedor__Spa div.grupo div.lado2{
            float: none;
            width: 100%;      
       
        }

        section.contenedor__Spa div.grupo div.lado2 p{
            font-size: 0.9rem;
            text-align: justify;
        }




        
        /*contenedor__Golf*/
        section.contenedor__Golf div.grupo div.lado2{
            float: none;
            width: 40%;        
            margin: auto;
            margin-bottom: 20px;
        }

         section.contenedor__Golf div.grupo div.lado1{
            float: none;
            width: 100%;              
        }


        section.contenedor__Golf div.grupo div.lado1 p{
            font-size: 0.9rem;
            text-align: justify;
        }



    }



/*Responsive 2*/
@media(max-height: 705px) {
    header.contenedor__header{
        height: 100%;  
    }
}

@media(max-height: 800px) {
    header.contenedor__header{
    height: 100%;  
    }
}



